root{
    --grey : #b2b2c2;
    --borderBold: 10px;
    }

body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

#container{ 
    display: block;
    position: relative;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    background-color: #E4E4E1;
    background: rgb(214,208,211);
background: radial-gradient(circle, rgba(214,208,211,1) 57%, rgba(76,77,77,1) 100%);
    border-radius: 50px;
    border: 2px solid black;
    z-index: 0;   
}

#header-layout{
    position: relative;
    display: grid;
    grid-template-columns: 40% 1fr 45%;
    grid-template-rows: 1fr 1fr;
    top: 1%;
    left: 10%;
    height: 7%;
    width: 80%;
    color: #000;
    font-size: 30px;
    font-weight: 700;
}

#highScoreText{
    position: relative;
    display: block;
    width: 100%;
    font-size: 4vw;
}

#highScoreValue{
    position: relative;
    display: block;
    width: 100%;
    font-size: 4vw;
}

#gamerName{
    position: relative;
    display: block;    
    width: 100%;
    font-size: 4vw;
}

#scoreText{
    position: relative;
    display: block;
    width: 100%;
    font-size: 4vw;    
}

#scoreValue{
    position: relative;
    display: block;
    width: 100%;
    font-size: 4vw;
}



#cherry{
    display: none;
}

#snakeHeadRight{
    display: none;
}

#snakeHeadUp{
    display: none;
}

#snakeHeadLeft{
    display: none;
}

#snakeHeadDown{
    display: none;
}


.ml2 { 
    font-weight: 900; 
    font-size: 4vw; 
} 

.ml2 .letter { 
    display: inline-block; 
    line-height: 1em; 
}




#introduction{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: 2%;
   margin: 0 auto;
   width: 86.2%;
   height: 45.5%;
   background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
   color: #bab29b;
   border: 3px solid #000;
   z-index: 10000;   
}

@media(min-width: 1080px){
    #introduction{
        top: 2%;
        height: 45.5%;
        border-width: var(--borderBold);
    }
}


#menu{
   position: relative;
   display: block;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: -44.3%; 
   width: 86.2%;
   margin: auto;
   height: 45.5%;
   z-index: 9999;
   background-color: #d5dfff;
   border: 3px solid black;
}

@media(min-width: 1080px){
    #menu{
        
        border-width: var(--borderBold);
    }
}

#snakeMenu{
   position: relative;
   display: block;
   top: 0;
   margin: 0 auto;
   width: 100%;
   height: 30%;
   z-index: 9999;
}

#scoreTable{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    width: 80%;
    margin: 0 auto;
    height: 70%;
    line-height: 2px;
    font-size: 4vw;
    z-index: 9999;
}

#highestScoreTable{
    display:inline-block;
    margin: auto;
}  

#score1{
    
}

#score2{
    
}

#score3{
    
}

#score4{
    
}

#score5{
    
}

#pressStartToPlay{
    display: inline-block;
    text-align: center;
    font-size: 5vw;
    font-weight: 800;
    margin: auto; 
    animation-name: animPlay;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}



@keyframes animPlay{
    0%{
       letter-spacing: 0px;
    }
    50%{
        letter-spacing: 2px;
    }
    100%{
        letter-spacing: 0px;
    }
}

#playground{
    position: relative;
    display: none;
    top: -44.3%;
    width: 86.2%;
    margin: 0 auto;
    background-color: #F0FFFF; 
    border: 3px solid black;
    z-index: 9999;
}

@media(min-width: 1080px){
    #playground{
        height: 45.5%;
        border-width: var(--borderBold);
    }
}



#controls{
    position: relative;
    display: block;   
    top: -43.5%;
    margin: 0 auto;
    width: 300px;   
    height: 230px;
    background-color: transparent;
    z-index: 0;
}

@media(min-width: 340px){
    #controls{
        top: -43%;
        width: 290px;
        height: 260px;
    }
}

@media(min-width: 400px){
    #controls{
        top: -40%;
        width: 330px;
        height: 330px;
    }
}

@media(min-width: 400px) and (min-height: 600px){
    #controls{
        top: -40%;
        width: 330px;
        height: 280px;
    }
}


@media(min-width: 600px){
    #controls{
        width: 350px;
        height: 350px;
    }
}




@media(min-width: 900px){
    #controls{
        width: 900px;
        height: 900px;
    }
}


@media(min-width: 1080px){
    #controls{
        top: -41%;
        width: 900px;
        height: 900px;
    }
}



#start{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;     
    text-align: center;    
    width: 20%;
    height: 20%;
    left: 3%;
    top: 0;
    border: 4px solid #2d365a;
    background-color: #696969;
    color: white;
    font-weight: 600;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 20px;
}

@media(min-width: 600px){
    #start{
        border: var(--borderBold) solid #2d365a;
    }
}

#pause{
    position: absolute;
    display: flex; 
    flex-direction: column;    
    justify-content: space-around; 
    text-align: center;
    width: 20%;
    height: 20%;
    left: 73%;
    top: 0;
    border: 4px solid #2d365a;
    background-color: #696969;
    color: white;
    font-weight: 600;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}

@media(min-width: 600px){
    #pause{
        border: var(--borderBold) solid #2d365a;
    }
}

#control-up{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 32%;
    width: 33%;
    height: 32%;
    cursor: pointer;
    background: url("images/up.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2d365a;
    border-width: 4px 4px 0px 4px;
    border-radius: 20px 20px 0px 0px;
    background-color: #696969;
    z-index: 1;
}

@media(min-width: 1080px){
    #control-up{
        width: 35%;
    }    
}

@media(min-width: 600px){
    #control-up{
        border-width: var(--borderBold) var(--borderBold) 0 var(--borderBold);
    }
}


#control-down{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 64%;
    left: 32%;
    width: 33%;
    height: 33.3%;
    cursor: pointer;
    background: url("images/down.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2d365a;
    border-width: 0px 4px 4px 4px;
    border-radius: 0px 0px 20px 20px;
    background-color: #696969;
    z-index: 1;
}

@media(min-width: 1080px){
    #control-down{
        width: 35%;
    }    
}

@media(min-width: 600px){
     #control-down{
        border-width: 0 var(--borderBold) var(--borderBold) var(--borderBold);
    }
}

#control-left{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 30%;
    left: 0;
    width: 32%;
    height: 33.3%;
    cursor: pointer;
    background: url("images/left.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2d365a;
    border-width: 4px 0px 4px 4px;
    border-radius: 20px 0px 0px 20px;
    background-color: #696969;
    z-index: 1;
}

@media(min-width: 600px){
     #control-left{
        border-width: var(--borderBold) 0 var(--borderBold) var(--borderBold);
    }
}


#control-right{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 30%;
    left: 66.6%;
    width: 33.6%;
    height: 33.3%;
    cursor: pointer;
    background: url("images/right.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2d365a;
    border-width: 4px 4px 4px 0px;
    border-radius: 0px 20px 20px 0px;
    background-color: #696969;
    z-index: 1;
}

@media(min-width: 1080px){
    #control-right{
        left: 67.43%;
    }    
}

@media(min-width: 600px){
    #control-right{
        left: 68.1%;
        border-width: var(--borderBold) var(--borderBold) var(--borderBold) 0;
    }
}


#middle{
    position: absolute;
    display: block;
    top: 31.62%;
    left: 31%;
    width: 36.7%;
    height: 32.7%;
    background-color: #696969;
    z-index: 1000;
}




@media(min-width: 1080px){
    #middle{
        top: 31.3%;
        left: 32.41%;
        height: 32.9%;
        width: 37%;
    }
}
