root{
    --grey : #b2b2c2;
    }

body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

#container{ 
    display: block;
    position: relative;
    top: 1.5vh;
    left: 2vw;
    width: 96vw;
    height: 97vh;
    background-color: #E4E4E1;
    background: rgb(214,208,211);
background: radial-gradient(circle, rgba(214,208,211,1) 57%, rgba(76,77,77,1) 100%);
    border-radius: 50px;
    border: 2px solid black;
    z-index: 0;   
}

#header-layout{
    position: relative;
    display: grid;
    grid-template-columns: 40% 1fr 45%;
    grid-template-rows: 1fr 1fr;
    top: 1%;
    left: 10%;
    height: 7%;
    width: 80%;
    color: #000;
    font-size: 30px;
    font-weight: 700;
}

#highScoreText{
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
}

#highScoreValue{
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
}

#gamerName{
    position: relative;
    display: block;    
    width: 100%;
    font-size: 16px;
}

#scoreText{
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;    
}

#scoreValue{
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
}



#cherry{
    display: none;
}

#snakeHeadRight{
    display: none;
}

#snakeHeadUp{
    display: none;
}

#snakeHeadLeft{
    display: none;
}

#snakeHeadDown{
    display: none;
}


.ml2 { 
    font-weight: 900; 
    font-size: 1em; 
} 

.ml2 .letter { 
    display: inline-block; 
    line-height: 1em; 
}




#introduction{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: 2%;
   margin: 0 auto;
   width: 86.2%;
   height: 45.7%;
   background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
   color: #bab29b;
   border: 3px solid #000;
   z-index: 10000;   
}



#menu{
   position: relative;
   display: block;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: -44.3%; 
   width: 86.2%;
   margin: auto;
   height: 45.5%;
   z-index: 9999;
   background-color: #d5dfff;
   border: 3px solid black;
}

#snakeMenu{
   position: relative;
   display: block;
   top: 0;
   margin: 0 auto;
   width: 100%;
   height: 30%;
   z-index: 9999;
}

#scoreTable{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 80%;
    margin: 0 auto;
    height: 60%;
    line-height: 2px;
    font-size: 12px;
    z-index: 9999;
}

#highestScoreTable{
    display:inline-block;
    margin: auto;
}  

#score1{
    
}

#score2{
    
}

#score3{
    
}

#score4{
    
}

#score5{
    
}

#pressStartToPlay{
    display: inline-block;
    text-align: center;
    font-weight: 800;
    margin: auto; 
    animation-name: animPlay;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes animPlay{
    0%{
       letter-spacing: 0px;
    }
    50%{
        letter-spacing: 2px;
    }
    100%{
        letter-spacing: 0px;
    }
}

#playground{
    position: relative;
    display: none;
    top: -44.3%;
    width: 86.2%;
    margin: 0 auto;
    background-color: #F0FFFF; 
    border: 3px solid black;
    z-index: 9999;
}


#controls{
    position: relative;
    display: block;
    top: -40%;
    margin: 0 auto;
    width: 90%;   
    height: 40%;
    background-color: transparent;
    z-index: 0;
}

#start{
    position: relative;
    display: flex; 
    justify-content: center;         
    width: 60px;
    height: 60px;
    left: 5%;
    top: 3px;
    border: 4px solid #2d365a;
    background-color: #696969;
    color: white;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border-radius: 20px;
}

#pause{
    position: relative;
    display: flex;     
    justify-content: space-around; 
    width: 60px;
    height: 60px;
    left: 76%;
    top: -65px;
    border: 4px solid #2d365a;
    background-color: #696969;
    color: white;
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}



#control-up{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -45.2%;
    left: 32.95%;
    width: 30.1%;
    height: 30%;
    cursor: pointer;
    background: url("/storage/emulated/0/Snake/up.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2d365a;
    border-width: 4px 4px 0px 4px;
    border-radius: 20px 20px 0px 0px;
    background-color: #696969;
    z-index: 1;
}


#control-down{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -15.2%;
    left: 32.95%;
    width: 30.1%;
    height: 30%;
    cursor: pointer;
    background: url("/storage/emulated/0/Snake/down.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2d365a;
    border-width: 0px 4px 4px 4px;
    border-radius: 0px 0px 20px 20px;
    background-color: #696969;
    z-index: 1;
}


#control-left{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -78%;
    left: 3%;
    width: 30%;
    height: 30%;
    cursor: pointer;
    background: url("/storage/emulated/0/Snake/left.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2d365a;
    border-width: 4px 0px 4px 4px;
    border-radius: 20px 0px 0px 20px;
    background-color: #696969;
    z-index: 1;
}


#control-right{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -110.8%;
    left: 64.3%;
    width: 30%;
    height: 30%;
    cursor: pointer;
    background: url("/storage/emulated/0/Snake/right.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2d365a;
    border-width: 4px 4px 4px 0px;
    border-radius: 0px 20px 20px 0px;
    background-color: #696969;
    z-index: 1;
}

#middle{
    position: relative;
    display: block;
    top: -145.7%;
    left: 33.6%;
    width: 30.8%;
    height: 40%;
    background-color: #696969;
    z-index: 0;
}
