:root{
    --grey : #b2b2c2;
    --borderBold: 10px;
    }

body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

#container{ 
    display: block;
    position: relative;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    background-color: #E4E4E1;
    background: rgb(214,208,211);
background: radial-gradient(circle, rgba(214,208,211,1) 57%, rgba(76,77,77,1) 100%);
    border-radius: 50px;
    border: 2px solid black;
    z-index: 0;   
}

#header-layout{
    position: relative;
    display: grid;
    grid-template-columns: 40% 1fr 45%;
    grid-template-rows: 1fr 1fr;
    top: 1%;
    left: 10%;
    height: 7%;
    width: 80%;
    color: #000;
    font-size: 30px;
    font-weight: 700;
}

#highScoreText{
    position: relative;
    display: block;
    width: 100%;
    font-size: 4vw;
}

#highScoreValue{
    position: relative;
    display: block;
    width: 100%;
    font-size: 4vw;
}

#gamerName{
    position: relative;
    display: block;    
    width: 100%;
    font-size: 4vw;
}

#scoreText{
    position: relative;
    display: block;
    width: 100%;
    font-size: 4vw;    
}

#scoreValue{
    position: relative;
    display: block;
    width: 100%;
    font-size: 4vw;
}



#cherry{
    display: none;
}

#snakeHeadRight{
    display: none;
}

#snakeHeadUp{
    display: none;
}

#snakeHeadLeft{
    display: none;
}

#snakeHeadDown{
    display: none;
}


.ml2 { 
    font-weight: 900; 
    font-size: 4vw; 
} 

.ml2 .letter { 
    display: inline-block; 
    line-height: 1em; 
}




#introduction{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: 2.5%;
   margin: 0 auto;
   width: 86.2%;
   height: 46%;
   background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
   color: #bab29b;
   border: 3px solid #000;
   z-index: 10000;   
}

@media(min-width: 1080px){
    #introduction{
        top: 2%;
        height: 45.5%;
        border-width: var(--borderBold);
    }
}


#menu{
   position: relative;
   display: block;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: -44.5%; 
   width: 86.2%;
   margin: auto;
   height: 46%;
   z-index: 9999;
   background-color: #d5dfff;
   border: 3px solid black;
}

@media(min-width: 1080px){
    #menu{
        
        border-width: var(--borderBold);
    }
}

#snakeMenu{
   position: relative;
   display: block;
   top: 0;
   margin: 0 auto;
   width: 100%;
   height: 30%;
   z-index: 9999;
}

#scoreTable{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    width: 80%;
    margin: 0 auto;
    height: 70%;
    line-height: 2px;
    font-size: 4vw;
    z-index: 9999;
}

#highestScoreTable{
    display:inline-block;
    margin: auto;
}  

#score1{
    
}

#score2{
    
}

#score3{
    
}

#score4{
    
}

#score5{
    
}

#pressStartToPlay{
    display: inline-block;
    text-align: center;
    font-size: 5vw;
    font-weight: 800;
    margin: auto; 
    animation-name: animPlay;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}



@keyframes animPlay{
    0%{
       letter-spacing: 0px;
    }
    50%{
        letter-spacing: 2px;
    }
    100%{
        letter-spacing: 0px;
    }
}

#playground{
    position: relative;
    display: none;
    top: -44.3%;
    width: 86.2%;
    margin: 0 auto;
    background-color: #F0FFFF; 
    border: 3px solid black;
    z-index: 9999;
}

@media(min-width: 1080px){
    #playground{
        height: 45.5%;
        border-width: var(--borderBold);
    }
}


#controls{
    position: relative;
    display: block;   
    top: 57%;
    left: 10%;    
    width: 80%;   
    height: 40%;
    margin: 0 auto;
    background-color: transparent;
    z-index: 0;
}

#start{
    position: absolute;
    display: flex;  
    justify-content: space-around; 
    flex-direction: column;     
    width: 20%;
    height: 20%;    
    left: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 3vw;
    border: 3px solid black;
    border-radius: 27px;
    background: #c6e0b7;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6e0b7), to(#8b9d80));
    background: -moz-linear-gradient(top, #c6e0b7, #8b9d80);
    background: linear-gradient(to bottom, #c6e0b7, #8b9d80);
    -webkit-box-shadow: #eeffdc 0px 0px 40px 0px;
    -moz-box-shadow: #eeffdc 0px 0px 40px 0px;
    box-shadow: #eeffdc 0px 0px 40px 0px;
    text-shadow: #ffffee 1px 1px 1px;
    color: #111111;
    text-decoration: none;       
}

#pause{
    position: absolute;
    display: flex;  
    justify-content: space-around; 
    flex-direction: column;     
    width: 20%;
    height: 20%;
    left: 78%;
    top: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 3vw;
    border: 3px solid black;
    border-radius: 27px;
    background: #c6e0b7;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6e0b7), to(#8b9d80));
    background: -moz-linear-gradient(top, #c6e0b7, #8b9d80);
    background: linear-gradient(to bottom, #c6e0b7, #8b9d80);
    -webkit-box-shadow: #eeffdc 0px 0px 40px 0px;
    -moz-box-shadow: #eeffdc 0px 0px 40px 0px;
    box-shadow: #eeffdc 0px 0px 40px 0px;
    text-shadow: #ffffee 1px 1px 1px;    
    color: #111111;
    text-decoration: none;       
}

#control-up{
    position: absolute;
    display: flex;  
    justify-content: space-around; 
    flex-direction: column; 
    top: 0;
    left: 33%;
    width: 33%;
    height: 33%;
    text-align: center;
    vertical-align: middle;    
    cursor: pointer;    
    border: 3px solid black;
    border-radius: 27px;
    font-size: 5vw;
    background: #c6e0b7;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6e0b7), to(#8b9d80));
    background: -moz-linear-gradient(top, #c6e0b7, #8b9d80);
    background: linear-gradient(to bottom, #c6e0b7, #8b9d80);
    -webkit-box-shadow: #eeffdc 0px 0px 40px 0px;
    -moz-box-shadow: #eeffdc 0px 0px 40px 0px;
    box-shadow: #eeffdc 0px 0px 40px 0px;
    text-shadow: #ffffee 1px 1px 1px;    
    color: #111111;
    text-decoration: none;
}


#control-down{
    position: absolute;
    display: flex;  
    justify-content: space-around; 
    flex-direction: column;  
    top: 66%;
    left: 33%;
    width: 33%;
    height: 33%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;    
    border: 3px solid black;
    border-radius: 27px;
    font-size: 5vw;
    background: #c6e0b7;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6e0b7), to(#8b9d80));
    background: -moz-linear-gradient(top, #c6e0b7, #8b9d80);
    background: linear-gradient(to bottom, #c6e0b7, #8b9d80);
    -webkit-box-shadow: #eeffdc 0px 0px 40px 0px;
    -moz-box-shadow: #eeffdc 0px 0px 40px 0px;
    box-shadow: #eeffdc 0px 0px 40px 0px;
    text-shadow: #ffffee 1px 1px 1px;    
    color: #111111;
    text-decoration: none;
}

    
#control-left{
    position: absolute;
    display: flex;  
    justify-content: space-around; 
    flex-direction: column;   
    top: 33%;
    left: 0;
    width: 33%;
    height: 33%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;    
    border: 3px solid black;
    border-radius: 27px;
    font-size: 5vw;
    background: #c6e0b7;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6e0b7), to(#8b9d80));
    background: -moz-linear-gradient(top, #c6e0b7, #8b9d80);
    background: linear-gradient(to bottom, #c6e0b7, #8b9d80);
    -webkit-box-shadow: #eeffdc 0px 0px 40px 0px;
    -moz-box-shadow: #eeffdc 0px 0px 40px 0px;
    box-shadow: #eeffdc 0px 0px 40px 0px;
    text-shadow: #ffffee 1px 1px 1px;    
    color: #111111;
    text-decoration: none;
}


#control-right{
    position: absolute;
    display: flex;  
    justify-content: space-around; 
    flex-direction: column;   
    top: 33%;
    left: 65.2%;
    width: 33%;
    height: 33%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;    
    border: 3px solid black;
    border-radius: 27px;
    font-size: 5vw;
    background: #c6e0b7;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6e0b7), to(#8b9d80));
    background: -moz-linear-gradient(top, #c6e0b7, #8b9d80);
    background: linear-gradient(to bottom, #c6e0b7, #8b9d80);
    -webkit-box-shadow: #eeffdc 0px 0px 40px 0px;
    -moz-box-shadow: #eeffdc 0px 0px 40px 0px;
    box-shadow: #eeffdc 0px 0px 40px 0px;
    text-shadow: #ffffee 1px 1px 1px;
    
    color: #111111;
    text-decoration: none;
}

@media(min-width: 1080px){
    #control-up, #control-right, #control-down, #control-left, #start, #pause{
        border-radius: 50px;
    }
}




